.whole-revise {
  width: 950px;
  height: 100vh;
  padding: 0px 10px;
  background-color: rgb(228, 74, 74);
  /* 왜안먹히징; */
}

.revise-frame {
}

.revise-line-1 {
}

.revise-image-area {
}

.revise-image {
}

.revise-show-nickname {
}

.revise-change-image {
}

.revise-line-2 {
}

.revise-username {
}

.revise-username-input {
}

.revise-line-3 {
}

.revise-nickname {
}

.revise-nickname-input {
}

.revise-line-4 {
}

.revise-url {
}

.revise-url-input {
}

.revise-line-5 {
}

.revise-bio {
}

.revise-bio-input {
}

.revise-sub-button {
}
