.comment-list {
  margin-top: 8px;
}

.comment-content {
  margin: 5px auto;
  display: flex;
  align-items: baseline;
}

.comment-nickname {
  font-size: 14px;
  margin-right: 4px;
  font-weight: bold;
}
.comment-content-yoyo {
  font-size: 14px;
}
