.user_profile > img {
	width: 30px;
	height: 30px;
	margin-left: 22px;
	border-radius: 30px;
	background-color: #262626;
}

.underline {
	/* height: 1px; */
	border: 0;
	background-color: #262626;
}

.post_list {
	width: fit-content;
	margin: 40px auto;
}

.post {
	width: 470px;
	background-color: blueviolet;
}

.post_header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_user_profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_user_profile {
	font-size: 18px;
}

.post_user_profile > img {
	width: 33px;
	height: 32px;
	margin-right: 10px;
	border-radius: 30px;
	background-color: #262626;
}

.post_header > svg {
	width: 30px;
	height: 30px;	
	margin-left: 22px;
	color: #262626
}

.post_image > img {
	width: 100%;
}

.post_btn_list {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.post_btn_container > svg {
	width: 30px;
	height: 30px;
	margin: auto 10px;
	color: #262626
}
